<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="./public/ico.png"/>
    <title>Main</title>
    <link rel="stylesheet" href="./src/styles/App.css"/>
</head>
<body>
    <div class="list">
      {{#list}}
        <div class="item" style="background: {{color}}">
          <a target="_blank" href="{{href}}">
              <div class="icon">
                <img src="./images/{{icon}}" alt="icon" />
              </div>
              <span>{{title}}</span>
            </a>
        </div>
      {{/list}}
    </div>
</body>
</html>