.serchForm{
    background: #ffffffb3;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serchForm input{
    position: fixed;
    width: 800px;
    height: 50px;
    display: block;
    border: 1px solid #000;
    border-radius: 2px;
    z-index: 2;
    font-size: 16px;
    padding: 0 20px 0 20px;
}
.serchForm input:focus{
    outline:  none;
}
.serchForm span{
    font-size: 11px;
    position: relative;
    color: #9c9c9c;
    top: -40px;
}