nav{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #ebebebad;
    box-shadow: 4px 0 5px rgb(0 0 0 / 9%);
    z-index: 1;
    cursor: pointer;
    width: 330px;

    &.left{
        left: -320px;

        &::before {
            right: 0px;
        }
        &::after {
            right: -20px;
        }
        &:hover {
            left: 0;

            & ~ article {
                -webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -o-transform: translateX(16em) perspective(600px) rotateY(10deg);
                transform: translateX(16em) perspective(600px) rotateY(10deg);

                &::after {
                    left: 60%;
                }
            }
        }
    }
    &.right{
        right: -320px;

        &::before {
            left: 0px;
        }
        &::after {
            left: -20px;
            transform: rotate(180deg);
        }
        &:hover {
            right: 0;

            & ~ article {
                transform: translateX(10em) perspective(600px) rotateY(-16deg);

                &::after {
                    right: 60%;
                }
            }
        }
    }

    &::before {
        position: absolute;
        content: ' ';
        width: 20px;
        height: 100%;
    }
    &::after {
        position: absolute;
        content: ' ';
        width: 0;
        height: 0;
        top: 50%;
        border-width: 15px 10px;
        border-style: solid;
        border-color: transparent transparent transparent #ededed;
    }
    ul {
        margin: 0px;
        padding: 10px 5px 10px 10px;
    }
    &.fixed {
        overflow-x: hidden;
        overflow-y: auto;

        &.left{
            left: 0;

            & ~ article {
                -webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
                -o-transform: translateX(16em) perspective(600px) rotateY(10deg);
                transform: translateX(16em) perspective(600px) rotateY(10deg);
            
                &:after {
                    left: 60%;
                }
            }
        }
        &.right{
            right: 0;

            & ~ article {
                transform: translateX(10em) perspective(600px) rotateY(-16deg);

                &:after {
                    right: 60%;
                }
            }
        }

        & ~ article {
            .list {
                pointer-events: none;
            }
            .edit-mode {
                pointer-events: none;
            }
        }
    }
    &:hover {
        overflow-x: hidden;
        overflow-y: auto;
    }
}