article{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px 5%;
    background-color: #fff;
    overflow: auto;
    z-index: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
article:after{
    position: absolute;
    content: ' ';
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -ms-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    pointer-events: none;
}
nav{
    position: fixed;
    left: -320px;
    top: 0;
    bottom: 0;
    background-color: #ebebebad;
    box-shadow: 4px 0 5px rgb(0 0 0 / 9%);
    z-index: 1;
    cursor: pointer;
    width: 330px;
}
nav::before{
    position: absolute;
    content: ' ';
    width: 20px;
    height: 100%;
    right: 0px;
}
nav:after{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -20px;
    top: 50%;
    border-width: 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ededed;
}
nav ul{
    margin: 0px;
    padding: 10px 5px 10px 10px;
}
nav .folder ul{
    padding: 0px;
}
nav li{
    list-style-type: none;
    line-height: 33px;
    overflow: hidden;
    transition: 0.1s;
    padding: 0 20px 0 20px;
}
nav li.folderHover{
    background: #000;
}
nav>li:nth-child(2){
    padding-top: 20px;
}
nav li:not(.folder):hover{
    background: #fff;
}
nav li.folder{
    padding: 0px;
}
nav li.folder ul{
    display: none;
}
nav li.folder.open ul{
    display: block;
}
nav li.folder li{
    padding: 0 20px 0 40px;
}
nav li a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}
nav li p{
    margin: 0px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding: 0 20px 0 20px;
}
nav li p:hover{
    background: #fff;
}
nav li img{
    width: 16px;
    height: 16px;
    pointer-events: none;
}
nav li span{
    padding: 0 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    pointer-events: none;
}
nav li.offChild ul{
    position: relative;
}
nav li.offChild ul:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
article, article:after, nav, nav *{
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
nav:hover{
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
nav:hover ~ article{
    -webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -o-transform: translateX(16em) perspective(600px) rotateY(10deg);
    transform: translateX(16em) perspective(600px) rotateY(10deg);
}
nav:hover ~ article:after{
    left: 60%;
}
nav.fixed{
    left: 0;
}
nav.fixed{
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
nav.fixed ~ article{
    -webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
    -o-transform: translateX(16em) perspective(600px) rotateY(10deg);
    transform: translateX(16em) perspective(600px) rotateY(10deg);
}
nav.fixed ~ article:after{
    left: 60%;
}

nav .tools{
    position: absolute;
    top: 10px;
    right: 5px;
}
nav .tools button{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin: 0 5px 0 5px;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.1;
}
nav .tools .fixed{
    background-image: url("../img/moveSide.png");
}
nav .tools .add{
    background-image: url("../img/addSide.png");
}
nav .tools:hover button{
    opacity: 0.4;
}
nav .tools button:hover{
    opacity: 1;
}
nav .tools button.active{
    opacity: 1;
}
.sidebarItemMenu{
    background: #fff;
    width: 130px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd9d9;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
}
.sidebarItemMenu button{
    background: none;
    width: 100%;
    height: 50%;
    border: none;
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
    color: #878787;
}
.sidebarItemMenu button:hover{
    background: #ddd9d963;
    color: #000;
}